/dump.rdb
/lastupdate.tmp
/nohup.out
/com.bfss.musician
/conf/app.conf
/conf/app_dev.conf
/conf/app_prod.conf
/.idea/
/.vscode/*.json
/debug
/.DS_Store
/logs/
/test/kss/
/test/conf/
/app
/db/
/test.json
/epik-explorer-backend
/go.sum
/log.sh
/dev.sh
/ops.sh
/Dockerfile
/filscan.http