/dump.rdb
/lastupdate.tmp
/nohup.out
/conf/config.yml
/conf/config_dev.yml
/conf/config_prod.yml
/.idea/
/.vscode/*.json
/debug
/.DS_Store
/logs/
/test/kss/
/test/conf/
/app
/db/
/test.json
/epik-explorer-backend
/log.sh
/dev.sh
/ops.sh
